<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="<%= require('../assets/img/favicon.png') %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Studio Code pour Basthon</title>
    <link href="assets/main.css" rel="stylesheet">
    <script scrc="lib/basthon-vscode.js"></script>
    <script>
        var sys_info = <%= htmlWebpackPlugin.options.sys_info_js %> ;
        window.basthonLanguage = sys_info.language;
        window.basthonRoot = "assets";
    </script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary mb-2" id="tileNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Basthon powered Visual Studio Code pour <%= htmlWebpackPlugin.options.sys_info['language-name'] %>
            </a>
        </div>
    </nav>
    <div class="container-xxl">
        <div class="row">
            <div class="d-flex justify-content-start mb-2">
                <button id="run" class="btn btn-sm btn-primary  me-2" title="Exécuter le script">
                    Exécuter <i class="bi bi-play"></i>
                </button>
                <button id="open" class="btn btn-sm btn-primary me-2"
                    title="Ouvrir un script, charger un module ou un fichier">
                    Ouvrir <i class="bi bi-folder2-open"></i>
                </button>
                <button id="download" class="btn btn-sm btn-primary me-2" title="Télécharger le script">
                    Télécharger le script <i class="bi bi-download"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-success dropdown-toggle me-2" type="button" id="localDownload"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Télécharger un fichier
                    </button>
                    <ul id="fileList" class="dropdown-menu" aria-labelledby="localDownload">

                    </ul>
                </div>
                <button id="raz" class="btn btn-sm btn-primary me-2" title="Redémarrer Python">
                     Effacer la sortie <i class="bi bi-eraser-fill"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="basthonVScontainer">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor"
                                href="#" role="tab" aria-controls="editor" aria-selected="true">Éditeur</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="shell-tab" data-bs-toggle="tab" data-bs-target="#shell" href="#"
                                role="tab" aria-controls="shell" aria-selected="false">Sortie</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="graphics-tab" data-bs-toggle="tab" data-bs-target="#graphics"
                                href="#" role="tab" aria-controls="graphics" aria-selected="false">Graphisme</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content mt-2">
                        <div class="tab-pane active" id="editor" role="tabpanel" aria-labelledby="editor-tab">
                        </div>
                        <div class="tab-pane  darklighted" id="shell" role="tabpanel" aria-labelledby="shell-tab">
                            <pre class="shellInterior"></pre>
                        </div>
                        <div class="tab-pane" style="justify-content: center;  align-items: center;" id="graphics"
                            role="tabpanel" aria-labelledby="graphics-tab">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>