// Customize bootstrap

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

#editor {
    float:none;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 11.5rem);
    min-height:15rem;
    border-radius: 0.6vw;
    margin: 0px;
    padding-top: 0px;
    font-family: "Fira Code";
    font-size: 13pt;
}

#shell {
    position: relative;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 11.5rem);
    min-height:15rem;
    float: none;
    resize: none;
    font-family: 'Fira Code',Consolas,Monaco,"Lucida Console",Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,"Courier New", monospace;
    font-size: 12pt;
    font-weight: lighter;
    margin: 0px;
    border-radius: 0.6vw;
    border-width: 0px;
}

.shellInterior {
    border : 1px solid #aaa;
    border-radius : 10px;
    margin :0;
    padding : 0.5rem;
    min-height : 100%;
}

#graphics {
    position: relative;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 11.5rem);
    min-height:15rem;
    float: none;
    flex: initial;
    background-color: #eee;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 0px;
    border-style: dotted;
    border-color: #272822;
    border-radius: 0.6vw;
    border-width: 0.25vw;
    font-size: 12pt;
    overflow: auto;
}

@keyframes btn-eye-catcher-animation
{
    50% { box-shadow: 0px 0px 0.5vw 1vw #ffc938, 0 0.6vw #999; }
}

.btn-eye-catcher {
    animation: btn-eye-catcher-animation 0.5s ease infinite;
}